; :root {
  --cor-primaria: #0048a7;
  --cor-secundaria: #f72c2c;
  --cor-fundo: #6d6d6d;
  --cor-texto: #ffffff;
  --cor-costraste: #000000;
  --cor-botao: #000000;
}

.tema-escuro {
 --cor-primaria: #0048a7;
  --cor-secundaria: #f72c2c;
  --cor-fundo:#6d6d6d;
  --cor-texto: #ffffff;
  --cor-costraste: #000000;
  --cor-botao: #000000;
}
body {
  max-width: 100vw; 
}

header{
        background-color: var(--cor-primaria);
        color: var(--cor-fundo);
        text-align: center;
        margin: 0 auto;
        padding: 16px;
          
         }
         main {
            background-color: var(--cor-costraste);
            color: var(--cor-fundo);
            margin: 0 auto;
            padding: 16px;

            display: flex;
            flex-wrap: wrap;
         }
         article{
         display: flex;

         border: 1px solid var(--cor-primaria);

         margin: 16px;
         gap: 16px;
         padding: 16px;

         flex: 1 1 25%;

         flex-direction: column;
         align-items: center;
         text-align: center;
         justify-content: center;
         }
         img{
            width: 80px;
            height: 80px;
         }
         .artigo-autor {
            font-weight: bold;
         }
